joosc
*.d
*.o
.DS_Store
build
CMakeFiles
CMakeCache.txt
cmake_install.cmake
*.log
*.zip
parser.hh
parser.h
parser.cc
scanner.cc
location.hh
location.h
.vscode
parser.output
tests/programs/marmoset
.cache
compile_commands.json
graphs/*.gv
graphs/*.png
.gdb_history
